.header
{
	align-items: flex-end;
	margin-bottom: 15px;
}
.header__title
{
	flex-grow: 1;
	font-size: 32px;
	line-height: 32px;
	margin: 0;
}
.header__sub-title
{
	font-size: 14px;
	color: grey;
	margin: 0;
}